<h1>Cards Demo - Angular Version</h1>
<button (click)="getDeck()">Get Deck</button>
<h2>Current Deck</h2>

<!-- Remember how to do this. We have a variable that is initially empty. And we don't want it to crash. -->
<ng-container *ngIf="deck">
{{ deck.deck_id }}<br />
{{ deck.remaining }}<br />
{{ deck.shuffled }}<br />
{{ deck.success }}<br />
<button (click)="getCards()">Get Two Cards</button>

  <ng-container *ngIf="cards">
    <ng-container *ngFor="let card of cards.cards">
      <img src="{{card.image}}" />
    </ng-container>
  </ng-container>

</ng-container>
